* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	/* default size - 16px, We want 10px as base, so we divide 10/16, now our base size = 10px   */
	font-size: 62.5%;
}

body {
	box-sizing: border-box;
	font-size: 2rem;
	font-family: 'Lato', serif;
	background-color: #eee;
}

.header {
	position: relative;
}

.nav-bar {
	padding: 2rem 10rem;
	width: 100%;
	position: fixed;
	background-color: #eee;
}

.nav-box {
	display: flex;
	justify-content: space-between;
}

#header-img {
	/* TODO: Change it */
	width: 3rem;
	height: 3rem;
}

.nav-links {
	list-style: none;
	display: flex;
}

.nav-links li {
	margin-left: 8rem;
}

.nav-links li a {
	text-decoration: none;
	color: black;
}

.hero-box {
	height: 60vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

form {
	display: flex;
	flex-direction: column;
	margin: 3rem;
}

#email {
	width: 40rem;
	height: 3rem;
	background-color: white;
	padding-left: 2rem;
}

.btn,
.btn:link,
.btn:visited {
	background-color: #f1c40f;
	align-self: center;
	margin-top: 1.5rem;
	font-size: 2rem;
	padding: 0.5rem 1.5rem;
	cursor: pointer;
	transition: all 0.2s;
	border: none;
	text-decoration: none;
	color: black;
}

.btn:hover,
.btn:focus {
	background-color: orange;
}

/* 

.feature {
	/* margin-left: 2rem;
	margin-bottom: 5rem; */
/* } */

.features-box {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 5rem;
}

.feature {
	width: 80%;
	margin-left: 4rem;
}

.icon1 {
	height: 5rem;
	width: 5rem;
}

.video {
	margin: 15rem 0;
	display: flex;
	justify-content: center;
}

.pricing {
	display: flex;
	justify-content: center;
}

.pricing-box {
	border: 1px solid black;
	border-radius: 5px;
	margin: 1.5rem;
	width: 30rem;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.heading-tertiary {
	font-size: 1.5rem;
	padding: 2rem;
	background-color: #ddd;
	overflow: hidden;
	width: 100%;
	text-align: center;
}

.pricing-box p {
	font-size: 3rem;
	margin-top: 1rem;
}

.pricing-box ul {
	list-style: none;
	margin: 1rem;
	text-align: center;
}

.pricing-box ul li {
	margin-top: 1rem;
	font-size: 1.5rem;
}

.pricing-box .btn {
	margin: 1.5rem 0;
}
